/*
* {
    border: 1px red solid;
}
*/

:root {
    --blue: hsl(219, 85%, 26%);
    --Red: hsl(1, 90%, 64%);
    --White: hsl(0, 0%, 100%);
    --Verylightgrayishblue: hsl(210, 60%, 98%);
    --Lightgrayishblue1: hsl(211, 68%, 94%);
    --Lightgrayishblue2: hsl(205, 33%, 90%);
    --Grayishblue: rgb(131, 138, 150);
    --Darkgrayishblue: hsl(219, 13%, 35%);
    --Verydarkblue: hsl(224, 21%, 14%);
  }

@font-face {
    font-family: PlusJakartaBold;
    src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
    font-weight: 800;
}

@font-face {
    font-family: PlusJakartaReg;
    src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #d9dded;
    font-family: PlusJakartaReg;
    font-size: 16px;
}

header {
    display: flex;
    margin-top: auto;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    gap: 5px;
}

footer {
    display: flex;
    margin-top: auto;
}

.heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.noti-number {
    background-color: var(--blue);
    color: white;
    padding: 0px 10px;
    border-radius: 5px;
}

#markRead {
    margin: 10px;
    color: var(--Grayishblue)
}

#markRead:hover {
    margin: 10px;
    color: var(--blue);
    cursor: pointer;
}

.notification-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
}

.active, .notification-container {
    display: flex;
    background-color:#d9dded;
    border-radius: 10px;
}

.profile-pic-container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    margin: 10px;
}

.profile-picture {
    width: 50px;
    height: 50px;
}

.notifi-content-container {
    display: flex;
    flex: 10;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.notifi-content-container p {
    margin: 5px;
}

#profileName {
    font-family: PlusJakartaBold;
}

#profileName:hover {
    font-family: PlusJakartaBold;
    color: var(--blue);
    cursor: pointer;
}

.notifi-time {
    color: var(--Grayishblue)
}

.private-message {
    font-family: PlusJakartaReg;
    color: var(--Grayishblue);
    border: 1px solid var(--Grayishblue);
    padding: 10px;
    margin: 10px 0px;
}

.private-message:hover {
    font-family: PlusJakartaReg;
    color: var(--Grayishblue);
    background-color: var(--Lightgrayishblue2);
    border: 1px solid var(--Lightgrayishblue2);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
}

#groupTitle {
    color: var(--blue);
    font-family: PlusJakartaBold;
}

#groupTitle:hover {
    color: var(--blue);
    font-family: PlusJakartaBold;
    cursor: pointer;
}

#postTitle {
    color: var(--Darkgrayishblue);
    font-family: PlusJakartaBold;
}

#postTitle:hover {
    color: var(--blue);
    font-family: PlusJakartaBold;
    cursor: pointer;
}

.picture-preview-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.picture-preview {
    height: 50px;
    width: auto;
}

.picture-preview:hover {
    cursor: pointer;
}

footer {
    padding: 20px;
}

.attribution { 
    font-size: .9em; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}